td, tr{
    border: 1px solid black;
}
th{
    padding: 10px;
    border-bottom: 1px solid black;
}
.r1{
    background-color: gray;
    color: white;
}
.r2{
    background-color: white;
    color: black;
}